<%- include("layouts/header") -%>





<h1>This is a massage from Home.</h1>

    <% blogs.forEach( (blog) => {%> 
        <h1><%= blog.title %></h1>
        <p><%= blog.content.slice(0,100) + " ..." %> 
            <a href="/posts/<%= blog.title %>"  >Read more</a>
        </p>
    <% }) %> 






<%- include("layouts/footer") -%>
